.page-content {
    display: flex;
    justify-content: center;
    align-items: center;
}


.body{
    background-image: linear-gradient(rgba(185,1,187,1) 0%, rgba(255,131,0,1) 73%, rgba(254,54,176,1) 100%);
}

.title{
    font-size: xx-large;
    color: rgb(0, 0, 0);
}

.titleCenter{
    font-size: xx-large;
    color: rgb(0, 0, 0);
    text-align: center;
}
.center{
    text-align: center;
}

.date{
    font-size: x-large;
    color:black;
    font-family:'Brush Script MT', cursive;
}

.layoutOverride{
    flex-direction: column;
    flex-flow: column;
}
.text{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }